body{
    font-family: 'Open Sans', sans-serif;
    zoom: 160%;
}

h1 {
    border: 2px solid rgb(192, 96, 96);
    background-color: rgb(118, 230, 191);
    padding: 20px;
    text-align: center;

}
header h2,nav h3, figure{
    text-align: center;
}
footer{
    position: absolute;
    color:goldenrod;
    right: 16px;
  
}